@using Microsoft.AspNetCore.Http
@using Infrastructure.Interface
@inject IUserAuth ua
@{
    bool loggedIn = ua.isLoggedIn();
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] – Ikke Bovia</title>
    <!--Font awesome CDN-->
    @* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"> *@
    @* <link rel="stylesheet" href="/css/style.css"> *@
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>
    <header class="header">
        <!-- HEADER HERE -->
        <nav>
            <a asp-controller="Home" asp-action="Index" class="noLine"><div class="logo"></div></a>
            <div class="navItems">
                <li>
                    <a asp-controller="Home" asp-action="Index" class="@((string)ViewData["Page"] == "Home" ? "on" : "")">Forside</a>
                </li>

                <li>
                    <a asp-controller="Home" asp-action="About" class="@((string)ViewData["Page"] == "About" ? "on" : "")">Om</a>
                </li>

                <li>
                    <a asp-controller="Search" asp-action="Index" class="@((string)ViewData["Page"] == "Search" ? "on" : "")">Søg bolig</a>
                </li>

                <li>
                    <a asp-controller="Home" asp-action="News" class="@((string)ViewData["Page"] == "News" ? "on" : "")">Nyheder</a>
                </li>

                <li>
                    <a asp-controller="Home" asp-action="Contact" class="@((string)ViewData["Page"] == "Contact" ? "on" : "")">Kontakt</a>
                </li>

                <li>
                    <a asp-controller="MyPage" asp-action="Index" class="@((string)ViewData["Page"] == "MyPage" ? "on" : "")">@(loggedIn ? "Min side" : "Log Ind")</a>
                </li>
            </div>
        </nav>
    </header>
    <main>
        <div class="container cl">
            @{
                string alertType = Context.Session.GetString("AlertType");
                string alertMsg = Context.Session.GetString("AlertMessage");
                if (alertType != null)
                {
                    Random rnd = new Random();
                    string id = "alert" + rnd.Next(9999);
                    <div class="alert alert@(alertType)" id="@id">
                        <div class="closeBtn" onclick="CloseAlert(event, '@id')">X</div>
                        @alertMsg
                    </div>
                    Context.Session.Remove("AlertType");
                    Context.Session.Remove("AlertMessage");
                }
            }

            @RenderBody()
        </div>
    </main>

    <footer class="footer">
        <!-- FOOTER -->
        <nav>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis quis doloribus ab ex deleniti aliquam ipsam animi quo, culpa vitae sint nobis atque iste, ipsum sapiente aspernatur quos illo minus?
        </nav>
    </footer>

    <script src="~/js/main.js"></script>
</body>



</html>